<h2>Sign Up here!!</h>
<style>
    h5{
        color: red;
    }
</style>

{% for message in messages %}
<h5>
    {{message}}
</h5>
{% endfor %}
<form action="/register/" method="post">

    {% csrf_token %}
    <p>Username:</p>
    <input type="text" name="username"><br>
    <p>Email</p>
    <input type="email" name="email"><br>
    <p>Enter password</p>
    <input type="passwrd" name="password1"><br>
    <p>Re-enter password</p>
    <input type="password" name="password2" ><br>
    <input type="submit" name="submit">

</form>